.contenedor {
    display: grid;
    grid-gap: 20px;
    color: white;
    margin: auto;
    background-color:rgba(193, 255, 174, 0.205);
    box-shadow:
    0 0 5px
    rgba(0, 0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    border-radius: 8px;
}

